@model Product

<div class="container">
    <div class="">
        <h1>Existing Products</h1>
        <ul style="list-style-type:None;">
            <li> <a href="link">Item</a> </li>
        </ul>
    </div>
</div>