@model MainModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col " style="border-right: 1px solid #333;">
            <partial name="NewProductPartial" />

        </div>
        <div class="col">
            <partial name="AllProductsPartial" />

        </div>
    </div>
</div>
