

<div class="text-center">
    <div class="row">
        <div class="col " style="border-right: 1px solid #333;">
            <partial name="NewCategoryPartial" />

        </div>
        <div class="col">
            <partial name="AllCategoriesPartial" />

        </div>
    </div>
</div>